<script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/moment-timezone/0.5.28/moment-timezone-with-data.min.js"></script>
<script type="text/javascript" src="assets/js/sweet-scroll.min.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>